<br>
<footer class="footer mt-auto py-3 bg-primary mt-5 text-center sticky-bottom sticky">
  <div class="container-fluid">
    <span class="text-muted small text-lite" >{{"now"|date("d/m/Y h:i a")}}</span>
    <p class="m-0 small text-white">Version: <span class="version">ALFA</span></p>
  </div>
</footer>