<div class="row pt-2">
    <div class="col-8">
        <div class="navigation navigation-sm">
            {{ knp_pagination_render(pagina) }}
        </div>
    </div>
    <div class="col-4 text-right">
        <p class="small text-muted m-0">{{ pagina.getTotalItemCount }} Reg.</p>
    </div>
</div>