{% extends 'base.html.twig' %}

{% block main %}
<div class="container h-min">
    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ url('index') }}">
                <img 
                    src="{{asset('ap_logo_perfil.png')}}" 
                    class="img-fluid" 
                    alt="Logo el Punto"
                >
            </a>
        </div>
    </div>
</div>
{% endblock %}
